@model TranTienSon_231210892_de02.Models.TtsCatalog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TtsCatalog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtsCateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtsCateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtsCatePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtsCatePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtsCateQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtsCateQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtsPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtsPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtsCateActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtsCateActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TtsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
